<div class="row">
  <div class="col-12 col-lg-2 cont "style="background-color:seagreen ; max-height:"  >
      <p style="  font-size: 30px;font-weight: 900;">Invernadero</p>

      <div  *ngFor="let user of Usuarios">
          <input class="" type="image"class="text-center" src = "assets/foto.jfif" width="150px" height="150px"   data-toggle="modal" style="border-radius: 100%;" data-target="#exampleModal">


          <p class=""style=" font-weight: 900; font-size: 20px; color: blackorange;">{{user.nombre}}</p>
          <button type="button" routerLink="/" (click)="cerrarsesion()" class="btn btn-dark">Cerrar sesion</button>
      </div>
  </div>
  <div class="col-6 col-lg-4 offset-md-1">
    <br><br><br><br>

    <ngb-carousel  >
      <ng-template *ngFor="let report of reporte" ngbSlide>
        <div class="picsum-img-wrapper"
        >
          <div class="card">
            <div class="card-body " style=" text-align: center;">
              <h5 class="card-title">REPORTES</h5>
              <hr>
              <p  class="card-text">Sensor temperatura :{{report.Sensor_temperatura}}</p>
              <hr>
              <p  class="card-text">Sensor humedad :{{report.Sensor_humedad}}</p>
              <hr>
              <p  class="card-text">Frio :{{report.Frio}}</p>
              <hr>
              <p  class="card-text">Calor :{{report.Calor}}</p>
<br>
            </div>
          </div>

        </div>

      </ng-template>
  </ngb-carousel>
  </div>


  <div class="col-6 col-lg-4 offset-md-1">
  <div class="container text-center">
    <br><br><br><br>

    <div class="card mx-auto">
      <div class="card-body">
        <div class="list-group " style="overflow-y: scroll; max-height:300px">
          <div class=" " *ngFor="let mensaje of mensajes">

<div  *ngFor="let user of Usuarios">
  <div *ngIf=mostrar>
    REPORTE ACTUAL
    <hr>
    <br>
     {{mensaje}}

    </div>
  <div *ngIf=mostrasocket(user.id,mensaje)>
              </div>
            </div>


          </div>
        </div>


</div>
